MONGO_URI= #banco de dados oficial
MONGO_URI_TEST=#Banco de dados de teste

GENAI_API_KEY=
GENAI_MODEL=

ASAAS_API_KEY=
ASAAS_API_URL=https://api-sandbox.asaas.com/v3
ASAAS_WEBHOOK_TOKEN=


GOOGLE_PLAY_PACKAGE_NAME=
GOOGLE_PLAY_SERVICE_ACCOUNT_JSON=
GOOGLE_PLAY_SERVICE_ACCOUNT_FILE=
GOOGLE_PLAY_RTDN_TOKEN=

SECRET_KEY=
SETTINGS_ENCRYPTION_KEY=
FRONT_BASE_URL=

MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

PORT=3005

